<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a href="#" class="navbar-brand">Recipe book</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
          >
            Recipes Book
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping" routerLinkActive="active">Shopping list</a>
        </li>
      </ul>
    </div>
    <div class="dropdown">
      <a href="#" class="dropdown-toggle" routerLinkActive="active">Toggle <span class="caret"></span></a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li class="dropdown-item">Save data</li>
        <li class="dropdown-item">Fetch data</li>
      </ul>
    </div>
  </div>
</nav>
