<form (ngSubmit)="submitHandler()" [formGroup]="form">
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="Title"
      formControlName="title"
    >
    <div *ngIf="!form.get('title').valid && form.get('title').touched">
      <div *ngIf="form.get('title').errors['required']">Please, provide title</div>
    </div>
  </div>
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="Description"
      formControlName="description"
    >
    <div *ngIf="!form.get('description').valid && form.get('description').touched">
      <div *ngIf="form.get('description').errors['required']">Please, provide description</div>
    </div>
  </div>
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="Image url"
      formControlName="imageUrl"
    >
    <div *ngIf="!form.get('imageUrl').valid && form.get('imageUrl').touched">
      <div *ngIf="form.get('imageUrl').errors['required']">Please, provide image url</div>
    </div>
  </div>
  <div formGroupName="author">
    <strong>Author</strong>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Name" formControlName="name">
      <div *ngIf="!form.get('author.name').valid && form.get('author.name').touched">
        <div *ngIf="form.get('author.name').errors['required']">Please, provide name of author</div>
      </div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Country" formControlName="age">
      <div *ngIf="!form.get('author.age').valid && form.get('author.age').touched">
        <div *ngIf="form.get('author.age').errors['required']">Please, provide age of author</div>
        <div *ngIf="form.get('author.age').errors['pattern']">Age should be a number</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div
      class="form-group"
      *ngFor="let formControl of form.get('ingredients').controls; let i = index"
      [formGroupName]="i"
    >
      <input type="text" class="form-control" formControlName="name" placeholder="Ingredient name">
      <input type="text" class="form-control" formControlName="amount" placeholder="Amount of ingredient">
    </div>
    <button type="button" class="btn btn-outline-primary" (click)="addIngredient()">Add ingredient</button>
  </div>

  <button class="btn btn-outline-success" type="submit">Save recipe</button>
  <button class="btn btn-outline-secondary" (click)="resetForm()">Reset form</button>
</form>
