<div class="container">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="signupForm">
        <div formGroupName="name">
          <div class="form-group">
            <input type="text" formControlName="firstName" class="form-control" placeholder="First name">
            <p *ngIf="!signupForm.get('name.firstName').valid && signupForm.get('name.firstName').touched">
              <span *ngIf="signupForm.get('name.firstName').errors['required']">
                Please, write your name
              </span>
              <span *ngIf="signupForm.get('name.firstName').errors['haveS']">
                Your name should not have 'S' character
              </span>
            </p>
          </div>
          <div class="form-group">
            <input type="text" formControlName="lastName" class="form-control" placeholder="Last name">
          </div>
        </div>
        <div class="form-group">
          <input type="text" formControlName="email" class="form-control" placeholder="email">
        </div>
        <div class="form-group">
          <input type="text" formControlName="age" class="form-control" placeholder="Age">
        </div>
        <div class="form-group" formArrayName="friends">
          <button class="btn btn-outline-primary" (click)="addFriend()">Add friend</button>
          <div class="form-group" *ngFor="let formItem of signupForm.get('friends').controls; let i = index">
            <input type="text" class="form-control" [formControlName]="i">
          </div>
        </div>
        <button [disabled]="!signupForm.valid" class="btn btn-success" (click)="submit()">Submit</button>
      </form>
    </div>
  </div>
</div>
